<% selections = SelectionsDecorator.new(project_item.selections) %>
<%= form_with(model: project_item, local: true) do |item| %>
  <h4><%= book.title %></h4>
  <%= item.text_field :font, value: project_item.font %>
  <%= item.form_with(selections) do |section| %>
    <% Boethius.const_get(book.converter)[:sectioning_nodes].each_key do |node| %>
      <%= item.label "Choose #{node}s" %>
      <%= item.text_field :"#{node}" %>
    <% end %>
  <% end %>
  <%= item.hidden_field :book_id, value: book.id %>
  <%= item.submit "Update" %>
  <%= link_to "Delete", project_item, { data: { confirm: "Are you sure?" }, method: :delete } %>
<% end %>
