<% if !@project_item.nil? && @project_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @project_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @project do |project| %>
  <%= project.label :name %>
  <%= project.text_field :name %>
  <%= project.submit "Start Project" %>
<% end %>
