<% if !@project_item.nil? && @project_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @project_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: project, local: true) do |form| %>

  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="project-form-container">

    <div class="form-subgroup">

      <h4>General Options</h4>

      <%= form.label :name do %>
        Name
        <%= form.text_field :name, id: 'project-name' %>
      <% end %>

      <%= form.label :page_size do %>
        Page Size
        <%= form.select :page_size, options_for_select( %w[Letter A4 A3 Quarto], project.page_size ) %>
      <% end %>

    </div>

    <div class="form-subgroup">

      <h4>Margins</h4>

      <%= form.label :preferred_units do %>
        Preferred Units
        <%= form.select :preferred_units, options_for_select( %w[Inches Centimeters Millimeters Points], project.preferred_units )%>
      <% end %>

      <%= form.label :top_margin do %>
        Top Margin
        <%= form.number_field :top_margin, step: :any %>
      <% end %>

      <%= form.label :bottom_margin do %>
        Bottom Margin
        <%= form.number_field :bottom_margin, step: :any %>
      <% end %>

      <%= form.label :gutter_margin do %>
        Gutter Margin
        <%= form.number_field :gutter_margin, step: :any %>
      <% end %>

      <%= form.label :tail_margin do %>
        Tail Margin
        <%= form.number_field :tail_margin, step: :any %>
      <% end %>

    </div>

    <%= form.submit "Submit Project", class: "submit-button" %>

  </div>

<% end %>
