<h4><%= book.title %></h4>
<%= form_with(model: project_item, local: true) do |item| %>
  <%= item.text_field :font, value: "Palatino" %>
  <%= item.hidden_field :book_id, value: book.id %>
  <%= item.submit "Add to Project" %>
<% end %>
