<p id="notice"><%= notice %></p>

<% @books.each do |book| %>
  <%= render 'book_row', book: book, project_item: @project_item %>
<% end %>
<%= link_to "View book selections.", books_selection_path %>

<% @books.each do |book| %>
  <%= link_to "#{book.title}", book_path(id: book.id) %>
<% end %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Location</th>
      <th>Converter</th>
      <th>Heads</th>
      <th>Language</th>
      <th>Pubdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.location %></td>
        <td><%= book.converter %></td>
        <td><%= book.heads %></td>
        <td><%= book.language %></td>
        <td><%= book.pubdate %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
